argostranslate # set CMAKE_POLICY_VERSION_MINIMUM=3.5
jieba
datasets
python-magic-bin
psutil
pywinauto
aiohttp
requests
zstandard
fastapi
tqdm
loguru
uvicorn
lmdb
stanza
regex
msgpack

pylcs @ git+https://github.com/voidf/pylcs